{% extends 'school/homebase.html' %}


{% block content %}

<br>
<br>
<main>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Olá, Admin</h1>
  <p class="lead">Bem-vindo ao nosso sistema de gerenciamento escolar.</p>
  <hr class="my-4">
  <p>Você poderá ter acesso a várias ferramentas após realizar seu login/registro.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="adminsignup" role="button">Registrar</a>
    <a class="btn btn-primary btn-lg" href="adminlogin" role="button">Login</a>
  </p>
</div>
</main>
{% endblock content %}
